import javax.naming.InitialContext;

import junit.framework.Assert;
import junit.framework.TestCase;

import java.util.logging.Logger;

/** ***********************************************************************
**
** A brief description of the class here
**
** @author <AUTHOR>
**
** @version 1.0
**
***************************************************************************
*/
public class <CLASS> extends TestCase {
  /*---- Class Variable Declares ----*/
  private static Logger C_log = Logger.getLogger(<CLASS>.class.getName());

  /*-------- Start of Code ----------*/
  /** *********************************************************************
  **
  ** The class constructor
  **
  ** @param Pname
  **   name of the test case
  **
  *************************************************************************
  */
  public <CLASS>(String Pname) {
    /*---- Local Variable Declares ----*/

    /*--------- Start of Code ---------*/
    super(Pname);

    return;
  } /* END OF constructor <CLASS> */


  /** *********************************************************************
  **
  ** Setup the test
  **
  *************************************************************************
  */
  public void setUp() {
    /*---- Local Variable Declares ----*/

    /*-------- Start of Code ----------*/

    return;
  } /* END OF setUp */


  /** *********************************************************************
  **
  ** Test the basics
  **
  *************************************************************************
  */
  public void testBasic() {
    /*---- Local Variable Declares ----*/
    RemoteExample  Tex  = null;
    InitialContext Tctx = null;

    /*-------- Start of Code ----------*/
    MB: {
      try {
        /*----------------------------------------------------------------+
        | Set up the initial context                                      |
        +----------------------------------------------------------------*/
        Tctx = new InitialContext();

        /*----------------------------------------------------------------+
        | Get the remote interface                                        |
        +----------------------------------------------------------------*/
        Tex = (RemoteExample)Tctx.lookup("<PROJNAME>/Example/remote");

        /*----------------------------------------------------------------+
        | Invoke the session bean                                         |
        +----------------------------------------------------------------*/
        C_log.info(Tex.example("testing, testing, 1, 2, 3"));
      } catch (Throwable Te) {
        C_log.severe("Caught exception: "+Te.toString());
        Te.printStackTrace();
      } /*endtry*/
    } /*endMB*/

    return;
  } /* END OF testBasic */

