import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

/** ***********************************************************************
 *
 * CLASS: <CLASS> implementation.
 *
 * @author <AUTHOR>
 *
 * @version 1.0
 *
 **************************************************************************
 */
public class <CLASS> <IMPLEMENTS>{
  private static final Logger LOG =
    LoggerFactory.getLogger(<CLASS>.class);

  /** *********************************************************************
   *  MAIN 
   ************************************************************************
   */
  public static void main(String[] args) {
    /*---- Local Variable Declares ----*/

    /*--------- Start of Code ---------*/

    return;
  } /* END OF main */


  /** *********************************************************************
   *  Default constructor
   ************************************************************************
   */
  public <CLASS>() {
    /*---- Local Variable Declares ----*/

    /*--------- Start of Code ---------*/

    return;
  } /* END OF constructor <CLASS> */


