/**************************************************************************
*
*           This document contains material which is the proprietary
*      property of and confidential to <COMPANY>.
*     Disclosure outside <COMPANY> is prohibited except by license agreement
*                      or other confidentiality agreement.
*
*          Copyright 1997-<YEAR> by <COMPANY>.
*                            All Rights Reserved
*
***************************************************************************
* Project: Project
*
* Class:   <CLASS>
*
* Author:  <AUTHOR>
*
* Date:    <DATE>
*
**************************************************************************/
package <PACKAGE>;

