import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;


/** ***********************************************************************
 *
 * CLASS: <CLASS> implementation.
 *
 * @author <AUTHOR>
 *
 * @version 1.0
 *
 **************************************************************************
 */
@Service
public class <CLASS> <IMPLEMENTS>{
  private static final Logger LOG =
    LoggerFactory.getLogger(<CLASS>.class);


